/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'pygments';
@font-face {
  font-family: "Variane";
  src: url('Variane_Script.ttf') format('truetype');
}
@font-face {
  font-family: "Bebas";
  src: font-url( asset-path("Bebas.ttf") ) format('truetype');
}
$primary-color: #5274CD;
$primary-orange: #FF8B00;
$primary-yellow: #EFC62E;

h1{
	font-family: "Bebas";
}
p, h5{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
nav, footer{
	background-color: $primary-color !important;
}
h3 i{
	color: $primary-color;
}
nav a{
	font-family: bebas;
	font-size: 30px;
	/*line-height:;*/
}
nav ul a{
	font-family: "Variane";
	font-size: 25px;
}
h2, h3{
	font-family: "Variane";
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
#firstparallax{
	text-align: center;
	background-color:rgba(128, 128, 128, 0.1);
}
#firstparallax p{
	color: $primary-yellow;
}
#brandlogo{
	width:80%;
	margin-top: 100px;
}
#mission{
	margin-top: 200px;
}
.object-fit{
	Position: absolute;
	Object-fit: cover;
	Width: 100%;
	Height: 100%;
}
.grey-op8{
	background-color:rgba(192,192,192,.8);
}