/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'pygments';
@font-face {
  font-family: "Variane";
  src: url('Variane_Script.ttf') format('truetype');
}
@font-face {
  font-family: "Bebas";
  src: font-url( asset-path("Bebas.ttf") ) format('truetype');
}
$primary-color: #5274CD;
$primary-orange: #FF8B00;

h1{
	font-family: "Bebas";
}

nav, footer{
	background-color: $primary-color !important;
}
nav a{
	font-family: bebas;
	font-size: 30px;
	/*line-height:;*/
}
nav ul a{
	font-family: "Variane";
	font-size: 30px;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}